{{ ansible_managed | comment }}

all:
  hosts:
    {{ inventory_hostname }}:
      hostname: {{ lookup('pipe', 'ansible-vault encrypt_string ' + inventory_hostname | quote ) | indent(5, false) }}
      ansible_python_interpreter: /usr/bin/python3
      ansible_host: {{ lookup('pipe', 'ansible-vault encrypt_string ' + ansible_host | quote ) | indent(5, false) }}
      ansible_port: {{ ssh_params.connection_port }}
      ansible_user: {{ lookup('pipe', 'ansible-vault encrypt_string ' + inventory_vars.user_for_become.name | quote ) | indent(5, false) }}
      ansible_become: yes
      ansible_become_method: sudo
      ansible_become_user: {{ lookup('pipe', 'ansible-vault encrypt_string ' + 'root' ) | indent(5, false) }}
      ansible_become_pass: {{ lookup('pipe', 'ansible-vault encrypt_string ' +  inventory_vars.user_for_become.password ) | indent(5, false) }}
      ansible_ssh_private_key_file: {{ lookup('pipe', 'ansible-vault encrypt_string ' + inventory_vars.user_for_become.ssh.get('keys')[0].priv ) | indent(5, false) }}
      ansible_ssh_common_args: "-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
